vars {
  base_url: http://localhost:8080
  client_url: http://localhost:5173
  test_email: [email protected]
  test_password: TestPassword123!
  test_name: Test User
}

vars:secret [
  plaid_sandbox_client_id,
  plaid_sandbox_secret
]
